{{!< layout}}

<div layout="column" flex tabindex="-1" role="main">

    {{> navbar}}

      <md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
          <div flex="50" flex-sm="100" flex-xs="100" layout="column">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">ERROR  404</span>
                  <span class="md-subhead">Los accidendes ocurren, </br> La pagina no existe</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-lg card-media"><img src="/images/choque404.jpg" alt="" /></div>

                </md-card-title-media>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="goBack()">Atras</md-button>
              </md-card-actions>
            </md-card>
          </div>
      </md-content>
  <script type="text/javascript">
    function goBack() {
      window.history.back();
    }
  </script>
</div>
