{{!< layout}}

 <!-- fin de la barra de navegacion izquierda-->
<div layout="column" flex tabindex="-1" role="main">

    {{> navbar}}

    <md-content ng-view md-scroll-y flex="70" layout="row" layout-padding>

    </md-content>

</div>
