{{!< layout}}


<md-sidenav flex="1" class="site-sidenav md-sidenav-left md-whiteframe-z2"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-xs')">

  <md-toolbar md-tall>
    <div layout="column" class="md-toolbar-tools-bottom inset">
     <a ng-href="/#!/" class="docs-logo ">
       <h2>Prueba Full Stack Javascript</h2>
    </a>
   </div>
 </md-toolbar>

    <md-content md-scroll-y flex role="navigation" >
      <nav class="mainNav">

    	</nav>
    </md-content>
</md-sidenav>

 <!-- fin de la barra de navegacion izquierda-->
<div layout="column" flex tabindex="-1" role="main">

    {{> navbar}}

    <md-content ng-view md-scroll-y flex="70" layout="row" layout-padding>

    </md-content>

</div>
