<div class="main" layout="row" >
  <div class="md-whiteframe-z2" layout="column" ng-cloak >
    <md-content  layout="column" class="md-whiteframe-z2"  layout-padding flex="75" flex-gt-sm="100">
      <h1 class=".md-display-3"> Prueba Full Stack Javascript</h1>
      <md-divider ></md-divider>
      <md-content flex="70" id="content" layout="column" >
   <md-item-content class="md-whiteframe-z2">
     <md-table-container >
       <table md-table md-row-select ng-model="vm.selected" md-progress="promise">
         <thead>
           <tr>
             <th>
               <span>Documento : </span>
             </th>
             <th>
               <span>Nombres :</span>
             </th>
           </tr>
         </thead>
         <thead md-head md-order="vm.users.nombre" >
           <tr md-row>
             <th md-column md-order-by="nameToLower"><span>ID</span></th>
             <th md-column md-numeric md-order-by="calories.value"><span>productos Productos</span></th>
             <th md-column md-numeric>Sede</th>
             <th md-column md-numeric>Precio</th>
           </tr>
         </thead>
         <tbody md-body>
           <tr md-row md-select="item.nombre" md-select-id="{[{item.nombre}]}" md-auto-select ng-repeat="item in vm.users  | startFrom : vm.currentPage*vm.pageSize | filter : buscar | limitTo:vm.pageSize">
             <td md-cell>{[{item.nombre}]}</td>
             <td md-cell>{[{item.Directorio.cargo | lowercase}]}</td>
             <td md-cell>{[{item.Directorio.departmento | lowercase}]}</td>
             <td md-cell>{[{item.Directorio.ubicacion}]}</td>
           </tr>
         </tbody>
       </table>
     </md-table-container>
   </md-item-content>
 </md-content>
    </md-content>
   </div>
  </div>
