<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Comprar {[{ buyProductos.producto  }]}
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <spam>Documento :</spam>
        <input type="number" ng-model="documento" style="width:20%" >
        <md-button  class="md-raised md-primary"
                        aria-label="clientes"
                        ng-click="Buscar($event)" style ="{padding:0!important;margin:0!important}">
                    Buscar
        </md-button>  
        
        <label ng-model="$scope.clienteCompra.nombres"></label>      
       
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Comprar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>